{#
/**
 * @file
 * Basic Page Types List
 *
 * Available variables:
 * - attributes: For additional HTML attributes not already provided.
 * - basic_page_types_category: The taxonomy term for the type.
 * - basic_page_types_title: The Page title.
 * - basic_page_types_description: The page description.
 * - basic_page_types_page_image: the page image.
 * - basic_page_types_footer: an open footer.
 */
#}
{%- set attributes = attributes.addClass(['su-basic-page-types-list', modifier_class]) -%}

<div{{ attributes }}>

{%- block block_basic_page_types_category  %}
{% if basic_page_types_category|render_clean is not empty %}
    <div class="su-basic-page-list__category">{{- basic_page_types_category -}}</div>
{% endif %}
{% endblock -%}

{%- block block_basic_page_types_title  %}
{% if basic_page_types_title|render_clean is not empty %}
    <div>
        {% if basic_page_types_page_image|render|striptags('<drupal-render-placeholder><img><picture>') is not empty %}
            <div class="su-basic-page-list__image">{{- basic_page_types_page_image -}}</div>
        {% endif %}
        <h2 class="su-basic-page-list__title">{{- basic_page_types_title -}}</h2>
    </div>
{% endif %}
{% endblock -%}

{%- block block_basic_page_types_description  %}
{% if basic_page_types_description|render_clean is not empty %}
    <div class="su-basic-page-list__description">{{- basic_page_types_description -}}</div>
{% endif %}
{% endblock -%}


{%- block block_basic_page_types_footer  %}
{% if basic_page_types_footer|render_clean is not empty %}
    <div class="su-basic-page-list__footer">{{- basic_page_types_footer -}}</div>
{% endif %}
{% endblock -%}

</div>
