{#
/**
 * @file
 * Basic Page Types vertical teaser
 *
 * Available variables:
 * - attributes: For additional HTML attributes not already provided.
 * - basic_page_types_category: The taxonomy term for the type.
 * - basic_page_types_title: The Page title.
 * - basic_page_types_description: The page description.
 * - basic_page_types_page_image_primary: the page image.
 * - basic_page_types_page_image_secondary: the second choice for page image.
 * - basic_page_types_content_url: The URL for the reference page.
 * - basic_page_types_footer: an open footer.
 */
#}



{%-
  set classes = [
    'su-card',
    'su-basic-page-types-vertical-teaser',
    modifier_class
  ]
-%}

{%- if basic_page_types_content_url|render|striptags("<drupal-render-placeholder>")|trim|raw is not empty -%}
  {%- set content_url = basic_page_types_content_url|render|striptags("<drupal-render-placeholder>")|trim|raw -%}
{%- endif -%}

{%-  if basic_page_types_page_image_primary|render is not empty -%}
  {%- set card_image = basic_page_types_page_image_primary|render -%}
{%-  elseif  basic_page_types_page_image_secondary|render is not empty-%}
  {%- set card_image = basic_page_types_page_image_secondary|render -%}
{%- endif -%}

<article{{ attributes.addClass(classes) }}>

  {%- if content_url is not empty -%}
  <a href="{{ content_url }}">
  {%- endif -%}
  <figure class="su-media su-media--image su-card__media">
    {%- if card_image is not empty  -%}
    <div class="su-media__wrapper">
      {{- card_image -}}
    </div>
    {%-  endif -%}
  </figure>
  {%- if content_url is not empty -%}
  </a>
  {%- endif -%}

  <div class="su-basic-page-types__header">
    <p class="su-basic-page-list__category">{{- basic_page_types_category -}}</p>


    <h2 class="su-link su-card__link">
      {%- if content_url is not empty -%}
        <a class="su-basic-page-types-vertical-teaser__link" href="{{ content_url }}">
      {%- endif -%}
        {{ basic_page_types_title }}
      {%- if content_url is not empty -%}
      </a>
      {%- endif -%}
    </h2>

  </div>

  <div class="su-card__contents">
    {{- basic_page_types_description -}}
  </div>

   {%- if basic_page_types_footer is not empty -%}
    <div class="su-basic-page-types-vertical-teaser__footer">{{- basic_page_types_footer -}}</div>
  {%- endif -%}

</article>
